/* #root {
  display: flexbox;
  max-width: 100vw;
  margin: 0;
  padding: 2rem;
  text-align: center;
  background-color: #f1ecec;
  font: verdana, arial, helvetica, sans-serif;
} */

/* .main-header {
  display: "flex";
  align-content: "center";
  border: "1px solid black";
  border-radius: "20px";
  width: "100%";
  margin-bottom: "1rem";
  margin-top: "1rem";
  background-color: "white";
  padding: "1.5rem";
  flex-wrap: "wrap";
} */

#root {
  text-align: center;
}
body {
  flex-direction: column;
  align-content: center;
  background-color: #fceee4;
  padding: 2rem;
  font: verdana, arial, helvetica, sans-serif;
}

.card {
  padding: 2em;
}

img {
  max-width: 90vw;
}
